html {
    background: #ebecf0;
}

.container {
    padding-left: 10%;
    padding-top: 8%;
}

.container h1{
    width: 300px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    font-size: 47px;
    line-height: 48px;
}

.container p{
    width: 80%;
    max-width: 500px;
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #605E5C;
    margin-top: -20px;
}

.container h4{
    width: 80%;
    max-width: 500px;
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    color: #605E5C;
}

.footer {
    float: right;
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-family: 'Work Sans';
    font-size: 12px;
    kerning: 2px;
    color: #605E5C;

}

.footer img {
    margin-left: 12px;
    filter: invert(38%) sepia(6%) saturate(183%) hue-rotate(349deg) brightness(91%) contrast(90%);
}

.links {
    margin-top: -17px;
}

.mainlink {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 99px;
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
    text-decoration: none;
    position: absolute;
    left: 10.2%;
    margin-top: 28px;
    box-shadow:  4px 4px 11px #c6c6c6,
    -4px -4px 11px #ffffff;
    transition: 200ms ease-in-out;
}

.mainlink img{
    position: relative;
    top: 3px;
    margin-right: 8px;
}

.medium {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 99px;
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
    text-decoration: none;
    position: absolute;
    left: 10.2%;
    margin-top: 95px;
    box-shadow:  4px 4px 11px #c6c6c6,
    -4px -4px 11px #ffffff;
    transition: ease-in-out 200ms;
}

.medium img {
    position: relative;
    top: 3px;
    margin-right: 8px;
}

.email {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 99px;
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
    text-decoration: none;
    position: absolute;
    left: 10.2%;
    margin-top: 162px;
    box-shadow:  4px 4px 11px #c6c6c6,
    -4px -4px 11px #ffffff;
    transition: ease-in-out 200ms;
}

.email img{
    position: relative;
    top: 3px;
    margin-right: 8px;
}

.mainlink:hover{
    box-shadow:  6px 6px 13px #c6c6c6,
    -6px -6px 13px #ffffff;
}

.medium:hover{
    box-shadow:  6px 6px 13px #c6c6c6,
    -6px -6px 13px #ffffff;
}

.email:hover{
    box-shadow:  6px 6px 13px #c6c6c6,
    -6px -6px 13px #ffffff;
}
